.thumbhead {
	text-align: center;
	margin-top: -20px;
	color: black;
}
.thumbhead hover {
	text-align: right;

}

a {
color: #FFF;
text-decoration: none;
}

a.slider:hover {
text-decoration: none;
color: #FFF;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.post-content {
    top:0;
    left:0;
    position: absolute;
}


.img-home-portfolio, {
	position: relative;
}

.post-content {
	z-index: +1;
	text-align: center;
float: right;
color: white;
margin-left: 20px;
margin-right: 20px;
display: block;
opacity: 0
}

.post-content:hover{
opacity: 1
}

.carousel {
height: 60%;
}


.col-lg-4.col-md-4.col-sm-6 :focus {
	background-color: black;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	background-color: black;
color: white;
}

a:hover, a:focus {
color: #000000;
text-decoration: none;
}

.thumbsubhead {
	text-align: center;
	color: black;
}

.img-responsive {
  margin-left: auto;
margin-right: auto;
}


/*BLUR*/
.blur img{
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}
 
.blur img:hover  {
  -webkit-filter: blur(3px);
}


@media (min-width: 768px) { 
.col-lg-4.col-md-4.col-sm-6 {
	height: 350px;
}



}

@media (max-width: 768px) {

.grow:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: none;
  transition-duration: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
  }