@charset "utf-8";
@-ms-viewport {
  width: device-width;
}

body {
	background: #FFF;
	background-image:none;
	color: #000;
}

h2 {
	font-size: 18px;
	color: #C66;
}
.byline {
font-size: 18px;
line-height: 30px;
border-bottom: 2px solid #C66;

}

.navbar {
margin-bottom: 0px;
}


.subhead.jumbotron{
	background-image: url(lost/banner.jpg);
	background-repeat: no-repeat;
	background-position: 10px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	background-color: #666;
}
.nav-tabs.nav-stacked > li > a:hover {
  background-color: #FFF;
  color: #C66;
}
.pullquote {
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	border-bottom: solid;
	border-top: solid;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px;
	text-align: center;
	border-color: #C66;
	color: #903;
	font-family: sans-serif;
}